@using poc.Models
@model Book

@{
    ViewBag.Title = "Give away your books";
}

<div class="well">
    <p>Remember: you are giving your books away for free!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>GiveAway</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" id="Author" name="Author" type="text" placeholder="Author" autofocus required />
                        @Html.ValidationMessageFor(model => model.Author)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" id="Title" name="Title" placeholder="Title" type="text" />
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Give it away!" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-md-6">
        <h2>Your shared books</h2>
        @Html.Partial("BookList", BookRepository.GetUsersBooks(@User.Identity.Name))
    </div>

</div>
