@using poc.Models
@model Book

@{
    ViewBag.Title = "Give away your books";
}
<div class="well">
    <h1>Give away your books</h1>
    <p>Please remember: you are giving it away for free.</p>
</div>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Author)
                <input type="text" class="form-control" id="Author" name="Author" placeholder="Author" required="true" />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title)
                <input type="text" class="form-control" id="Title" name="Title" placeholder="Title" required="true"/>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>    

    <div class="col-md-6">
        <h2>Your books</h2>

        @foreach (Book book in BookRepository.GetMyBooks())
        {
            <div>
                <p>@book.Title by @book.Author (shared by @book.SharedBy.Name)</p>
            </div>

        }
    </div>
</div>
