@using poc.Models
@model poc.Views.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <p>Do you have books you didn't open in the last year? Last five years? You will never open them again. So why keep them around? Why not give them away?</p>
    <p>Use this site to give them away and get some new books from others. Remember: after you read it, you can share it again.</p>
    <a class="btn btn-primary" href="@Url.Action("GiveAway")">Give away a book now!</a>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Recent books <a class="btn btn-default" href="@Url.Action("AllBooks")">See all</a></h2>
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover table-bordered">
                      <tr>
                          <th>Title</th>
                          <th>Author</th>
                          <th>Shared by</th>
                      </tr>
                      @foreach (Book book in Model.RecentBooks)
                      {
                          <tr>
                              <td class="col-md-5">@book.Title</td>
                              <td class="col-md-5">@book.Author</td>
                              <td class ="col-md-2">@book.SharedBy.Name</td>
                          </tr>
        @*<div class="col-md-3 book-thumbnail">
                <p>@book.Title by @book.Author</p>
                <p>(shared by @book.SharedBy.Name)</p>
            </div>*@
                      }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Top sharers <a class="btn btn-default" href="@Url.Action("AllUsers")">See all</a></h2>
        <table class="table table-striped table-condensed table-hover table-bordered">
            <tr>
                <th>Name</th>
                <th>Shared</th>
            </tr>
            @foreach (User user in Model.TopSharers)
            {
                <tr>
                    <td class="col-md-9">@user.Name</td>
                    <td><a class="col-md-3" href="#">@user.SharedBooksCount</a></td>
                    
                </tr>
            }
        </table>
    </div>
</div>

