<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Exchange</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="navbar-collapse collapse navbar-">
                <ul class="nav navbar-nav">
                    <li class="navbar-link">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Books", "AllBooks", "Home")</li>
                    <li>@Html.ActionLink("People", "AllUsers", "Home")</li>
                    <li>@Html.ActionLink("Your Books", "YourBooks", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(@User.Identity.Name, "YourBooks", "Home")</li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
